body {
    font-family: 'Arial', sans-serif;
    margin: 0;
    padding: 0;
    text-align: center;
}

.top-section {
    background-color: white;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 125px;
}

.placeholder {
    width: 150px;
    height: 100px;
    background-color: lightgray;
    display: inline-block;
}

.motto {
    background-color: #0e6fd0;
    color: white;
    padding: 165px;
}

.full-width.yellow-line-section {
    background-color: #FFC107;
    height: 15px;
    width: 100%;
    margin: 0;
}

.full-width.blue-line-section {
    background-color: #0e6fd0;
    height: 15px;
    width: 100%;
    margin: 0;
}

.full-width.black-line-section {
    background-color: #000000;
    height: 5px;
    width: 100%;
    margin: 0;
}

.about-section, .vision-section, .mission-section {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 50px;
    background-color: #0e6fd0;
}

.about-text, .vision-text, .mission-text {
    text-align: left;
    padding-left: 50px;
    flex: 1;
}

.yellow-text {
    color: #FFC107;
}

.white-text {
    color: white;
}

.about-placeholder, .vision-placeholder, .mission-placeholder {
    width: 50%;
    height: 200px;
    background-color: white;
    flex: 1;
}

.vision-box, .mission-box {
    display: inline-block;
    background-color: #FFC107;
    color: #0e6fd0;
    padding: 10px 20px;
    border-radius: 25px;
}

.goals-section {
    background-color: #FFC107;
    padding: 50px;
}

.goals-placeholder {
    background-color: #E0C9A6;
    padding: 20px 50px;
    border-radius: 25px;
    display: inline-block;
}

.goals-box {
    background-color: #0e6fd0;
    color: white;
    padding: 10px 20px;
    border-radius: 25px;
    display: inline-block;
}

.black-text {
    color: black;
}